:root{                                                    
       --cor-fundo:#000000;
       --cor-fontes:000000#:var(--cor-fontes)
}
.cabecalho{ 
    background-color: var(--cor-fundo);
    color: var(--cor-fontes);
}